ul {
  padding-left: 1em;
}

div.body {
  display: grid;
  grid-template-columns: min-content 10fr;
  grid-column-gap: 2em;

  max-width: 960px;
  margin: 0 auto;
}

code {
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: .1rem .1rem;
  whitespace: nowrap;
}
