name: Publish

on:
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Install dependencies
      run: make init

    - name: Build
      run: make build

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - name: Publish
      uses: 'google-github-actions/upload-cloud-storage@v0'
      with:
        path: 'site'
        destination: 'wiki.nickpegg.com'
        parent: false
        headers: |-
          cache-control: max-age=15
